h1
{
  color: red;
  text-align: center;
  font-size: 25pt;
}

h2, h3
{
  font-family: "Trebuchet MS", "Comic Sans MS", Monospace;
  text-align: center;
  color: rgb(102, 0, 0);
}

body
{
  text-align: center;
}


